@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Red: hsl(4, 100%, 67%);
  --Blue-800: #242742;
  --Blue-700: hsl(235, 18%, 26%);
  --Grey: #949494;
  --White: hsl(0, 0%, 100%);

  --W-400: 400;
  --W-700: 700;

  --font-Roboto: "Roboto";
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

body {
  min-height: 100vh;
  font-family: var(--font-Roboto);
  background-color: var(--Blue-700);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Blue-800);
}

.container {
  background-color: var(--White);
  max-width: 31.375rem;
  border-radius: 2.25rem;
  padding: 2.875rem 3.875rem 4rem 3.875rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.title {
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 3.625rem;
}

.button-Input {
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--White);
  font: inherit;
  border: 0;
  background-color: var(--Blue-800);
  font-weight: var(--W-700);
}
.button-Input:hover,
.button-Input:focus-visible {
  position: relative;
  background-image: linear-gradient(90deg, #fe5279 0%, #ff693e 100%);
  cursor: pointer;
}

.button-Input:hover::after,
.button-Input:focus-visible::after {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  background: inherit;
  border-radius: inherit;
  translate: 0 1.5rem;
  filter: blur(1rem);
  opacity: 0.25;
}
